{% extends 'base.twig' %}
{% set title = 'Leaderboard' %}

{% block header %}
  {% if me %}<a class="button" href="/r/add">Add Result</a><a class="button" href="/leaderboard">Leaderboard</a><a class="button" href="/settings">Settings</a><a class="button" href="/logout">Logout</a>{% else %}<a class="button" href="/login">Login / Register</a>{% endif %}
{% endblock %}

{% block main %}
<div class="centered-container">
  <div class="sort-dropdown-container">
    <div class="button-group">
      <a href="/leaderboard/average" class="button {% if sort == 'average' %}active{% endif %}">Sort by Avg. Guess</a><a href="/leaderboard/score" class="button {% if sort == 'score' %}active{% endif %}">Sort by Score</a>
    </div>
  </div>

  <div class="leaderboard-container grey-box">
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Avg. Guess</th>
          <th>Won / Played</th>
          <th>Score <abbr title="Each result is given a 'Score', calculated as 7 - No. of guesses. I.e. 3 separate daily guesses of '3' would give a someone a Score of '12'.">(?)</abbr></th>
        </tr>
      </thead>
      <tbody>
      {% for person in people %}
        {% if sort == "average" %}
          {% set metric = person.stats.average %}
        {% elseif sort == "score" %}
          {% set metric = person.stats.score %}
        {% endif %}
        <tr class="{% if metric == awards.gold %}gold{% elseif metric == awards.silver %}silver{% elseif metric == awards.bronze %}bronze{% endif %}">
          <td><a href="/u/{{ person.username }}">{{ person.username }}</a></td>
          <td>{{ person.stats.average }}</td>
          <td>{{ person.stats.won }} / {{ person.stats.played }} ({{ person.stats.winrate }}%)</td>
          <td>{{ person.stats.score }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}