{% extends 'base.twig' %}
{% set title = person.username %}

{% block main %}
  <h1>{{ person.username }}</h1>
  <hr>
  <p>Groups:</p>
  <ul>
    {% for group in person.groups %}
      <li><a href="/g/{{ group.slug }}">{{ group.name }}</a></li>
    {% endfor %}
  </ul>
  <p>Spots:</p>
  <ul>
    {% for spot in person.spots %}
      <li><a href="/s/{{ spot.id }}">{{ spot.name }}</a></li>
    {% endfor %}
  </ul>
  <a href="/home">home</a>
{% endblock %}