{% extends 'base.twig' %}
{% set title = group.name %}

{% block main %}
  <h1>{{ group.name }}</h1>
  <hr>
  <p>Users:</p>
  <ul>
    {% for user in group.users %}
      <li><a href="/u/{{ user.username }}">{{ user.username }}</a></li>
    {% endfor %}
  </ul>
  <p>Spots: (<a href="/s/add">Add</a>)</p>
  <ul>
    {% for spot in group.spots %}
      <li><a href="/s/{{ spot.id }}">{{ spot.name }}</a></li>
    {% endfor %}
  </ul>
  <a href="/home">home</a>
{% endblock %}