{% extends 'base.twig' %}
{% set title = result.user.username~" #"~result.puzzleNo %}

{% block header %}
  {# <a class="button" href="/u/{{ result.user.username }}/{{ result.puzzleNo }}/share">Share</a> #}{% if (me.username == result.user.username) %}<a onclick="return confirm('Are you sure you want to delete this result? This cannot be undone!');" class="button" href="/u/{{ result.user.username }}/{{ result.puzzleNo }}/delete">Delete</a>{% endif %}<a class="button" href="/leaderboard">Leaderboard</a>{% if me %}<a class="button" href="/settings">Settings</a><a class="button" href="/logout">Logout</a>{% else %}<a class="button" href="/login">Login / Register</a>{% endif %}
{% endblock %}

{% block main %}
  <div class="result-container">
    <div class="result-card">
      {{ result.render|raw }}
      <div class="result-pagination">
        <div>
          {% if next %}
            <a class="button" href="/u/{{ result.user.username }}/{{ next.puzzleNo }}">&lAarr; Newer</a>
          {% endif %}
        </div>
        <div>
          {% if previous %}
            <a class="button" href="/u/{{ result.user.username }}/{{ previous.puzzleNo }}">Older &rAarr;</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="result-leaderboard">
      <div class="header">Leaderboard</div>
      <div class="inner">
        {% for leaderResult in result.leaderboard %}
          <a href="/u/{{ leaderResult.user.username }}/{{ leaderResult.puzzleNo }}">
            <div class="result-leaderboard-line button {% if result.user.username == leaderResult.user.username %}self{% endif %}">
              <p>{{ leaderResult.user.username }}</p>
              <p>{{ leaderResult.guessesNo }} / 6</p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}