<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
  <title>{{ title ? title|raw : 'Page'}} | trackle</title>
  {% if darkMode %}
  <link rel="stylesheet" href="/assets/css/dark_vars.css"?{{ random(9999) }} />
  {% else %}
  <link rel="stylesheet" href="/assets/css/light_vars.css?{{ random(9999) }}" />
  {% endif %}
  <link rel="stylesheet" href="/assets/css/style.css?{{ random(9999) }}" />
  <link href="/assets/img/icon.png" rel="icon shortcut" sizes="144144" />
  <link href="/assets/img/icon.png" rel="apple-touch-icon" />
  <meta name="apple-mobile-web-app-title" content="trackle">
</head>
<body>
<div class="container">
<header>
  <h1>
    <a href="/">trackle</a>
    {% for item in breadcrumb %}
      {% if item.link %}
        / <a href="{{ item.link }}">{{ item.display|raw }}</a>
      {% else %}
        / {{ item.display|raw }}
      {% endif %}
    {% endfor %}
  </h1>
  <div>{% block header %}{% endblock %}</div>
</header>
{% block main %}
  {# MAIN PAGE GOES HERE #}
{% endblock %}
</div>
{% block js %}{% endblock %}
</body>
</html>